<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Forum</servlet-name>
        <servlet-class>Controllers.Forum.Forum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Post</servlet-name>
        <servlet-class>Controllers.Forum.Post</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPost</servlet-name>
        <servlet-class>Controllers.Forum.NewPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OneTopic</servlet-name>
        <servlet-class>Controllers.Forum.OneTopic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPost</servlet-name>
        <servlet-class>Controllers.Forum.SearchPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Report</servlet-name>
        <servlet-class>Controllers.Forum.Report</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Practice</servlet-name>
        <servlet-class>Controllers.Practice.Practice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminForum</servlet-name>
        <servlet-class>Controllers.Forum.AdminForum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportPost</servlet-name>
        <servlet-class>Controllers.Forum.ReportPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportComment</servlet-name>
        <servlet-class>Controllers.Forum.ReportComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Topic</servlet-name>
        <servlet-class>Controllers.Forum.Topic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisablePost</servlet-name>
        <servlet-class>Controllers.Forum.DisablePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisableComment</servlet-name>
        <servlet-class>Controllers.Forum.DisableComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisableTopic</servlet-name>
        <servlet-class>Controllers.Forum.DisableTopic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewTopic</servlet-name>
        <servlet-class>Controllers.Forum.NewTopic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteComment</servlet-name>
        <servlet-class>Controllers.Forum.DeleteComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePost</servlet-name>
        <servlet-class>Controllers.Forum.DeletePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTopic</servlet-name>
        <servlet-class>Controllers.Forum.DeleteTopic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTopic</servlet-name>
        <servlet-class>Controllers.Forum.EditTopic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestoreComment</servlet-name>
        <servlet-class>Controllers.Forum.RestoreComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestorePost</servlet-name>
        <servlet-class>Controllers.Forum.RestorePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestoreTopic</servlet-name>
        <servlet-class>Controllers.Forum.RestoreTopic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitImage</servlet-name>
        <servlet-class>Controllers.Practice.SubmitImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteForumNotification</servlet-name>
        <servlet-class>Controllers.Forum.DeleteForumNotification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNotification</servlet-name>
        <servlet-class>Controllers.Notification.AddNotification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToggleNotificationVisibility</servlet-name>
        <servlet-class>Controllers.Notification.ToggleNotificationVisibility</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNotification</servlet-name>
        <servlet-class>Controllers.Notification.DeleteNotification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditNotification</servlet-name>
        <servlet-class>Controllers.Notification.EditNotification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationController</servlet-name>
        <servlet-class>Controllers.Notification.NotificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatController</servlet-name>
        <servlet-class>Controllers.Chat.ChatController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatAdminController</servlet-name>
        <servlet-class>Controllers.Chat.ChatAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatContentController</servlet-name>
        <servlet-class>Controllers.Chat.ChatContentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatAdminSessionController</servlet-name>
        <servlet-class>Controllers.Chat.ChatAdminSessionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatAdminContentController</servlet-name>
        <servlet-class>Controllers.Chat.ChatAdminContentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForumNotification</servlet-name>
        <servlet-class>Controllers.Forum.ForumNotification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatInitController</servlet-name>
        <servlet-class>Controllers.Chat.ChatInitController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationManageController</servlet-name>
        <servlet-class>Controllers.Notification.NotificationManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordRecovery</servlet-name>
        <servlet-class>Controllers.Account.PasswordRecovery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordRecoveryValidate</servlet-name>
        <servlet-class>Controllers.Account.PasswordRecoveryValidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordRecoveryUpdate</servlet-name>
        <servlet-class>Controllers.Account.PasswordRecoveryUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Archive</servlet-name>
        <servlet-class>Controllers.Forum.Archive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeStstusControl</servlet-name>
        <servlet-class>Controllers.Test.Test.changeStstusControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Forum</servlet-name>
        <url-pattern>/Forum/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Post</servlet-name>
        <url-pattern>/Post/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPost</servlet-name>
        <url-pattern>/NewPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OneTopic</servlet-name>
        <url-pattern>/OneTopic/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPost</servlet-name>
        <url-pattern>/SearchPost/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Report</servlet-name>
        <url-pattern>/Report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Practice</servlet-name>
        <url-pattern>/Practice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminForum</servlet-name>
        <url-pattern>/AdminForum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportPost</servlet-name>
        <url-pattern>/ReportPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportComment</servlet-name>
        <url-pattern>/ReportComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Topic</servlet-name>
        <url-pattern>/Topic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisablePost</servlet-name>
        <url-pattern>/DisablePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisableComment</servlet-name>
        <url-pattern>/DisableComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisableTopic</servlet-name>
        <url-pattern>/DisableTopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewTopic</servlet-name>
        <url-pattern>/NewTopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteComment</servlet-name>
        <url-pattern>/DeleteComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePost</servlet-name>
        <url-pattern>/DeletePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTopic</servlet-name>
        <url-pattern>/DeleteTopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTopic</servlet-name>
        <url-pattern>/EditTopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestoreComment</servlet-name>
        <url-pattern>/RestoreComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestorePost</servlet-name>
        <url-pattern>/RestorePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestoreTopic</servlet-name>
        <url-pattern>/RestoreTopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitImage</servlet-name>
        <url-pattern>/SubmitImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteForumNotification</servlet-name>
        <url-pattern>/DeleteForumNotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNotification</servlet-name>
        <url-pattern>/AddNotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToggleNotificationVisibility</servlet-name>
        <url-pattern>/ToggleNotificationVisibility</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNotification</servlet-name>
        <url-pattern>/DeleteNotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditNotification</servlet-name>
        <url-pattern>/EditNotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationController</servlet-name>
        <url-pattern>/Notification/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatController</servlet-name>
        <url-pattern>/ChatController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatAdminController</servlet-name>
        <url-pattern>/ChatAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatContentController</servlet-name>
        <url-pattern>/ChatContentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatAdminSessionController</servlet-name>
        <url-pattern>/ChatAdminSessionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatAdminContentController</servlet-name>
        <url-pattern>/ChatAdminContentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForumNotification</servlet-name>
        <url-pattern>/ForumNotification/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>insertTest_TestControl</servlet-name>
        <servlet-class>Controllers.Test.Test.insertTest_TestControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertTest_AnswerControl</servlet-name>
        <servlet-class>Controllers.Test.Answer.insertTest_AnswerControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertTest_DeleteQuestionControl</servlet-name>
        <servlet-class>Controllers.Test.Question.insertTest_DeleteQuestionControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertTest_CreateAnswerControl</servlet-name>
        <servlet-class>Controllers.Test.Answer.insertTest_CreateAnswerControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertTest_EditAnswerControl</servlet-name>
        <servlet-class>Controllers.Test.Answer.insertTest_EditAnswerControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertTest_DeleteAnswerControl</servlet-name>
        <servlet-class>Controllers.Test.Answer.insertTest_DeleteAnswerControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertTest_EditQuestionControl</servlet-name>
        <servlet-class>Controllers.Test.Question.insertTest_EditQuestionControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managequestionControl</servlet-name>
        <servlet-class>Controllers.Test.Test.managequestionControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertTest_QuestionControl</servlet-name>
        <servlet-class>Controllers.Test.Question.insertTest_QuestionControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewHistoryTestControl</servlet-name>
        <servlet-class>Controllers.Test.Result.viewHistoryTestControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewResultDetailControl</servlet-name>
        <servlet-class>Controllers.Test.ResultDetail.viewResultDetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertTest_CreateQuestionControl</servlet-name>
        <servlet-class>Controllers.Test.Question.insertTest_CreateQuestionControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insertTest_TestControl</servlet-name>
        <url-pattern>/insertTest_Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertTest_AnswerControl</servlet-name>
        <url-pattern>/insertTest_Answer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertTest_DeleteQuestionControl</servlet-name>
        <url-pattern>/insertTest_DeleteQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertTest_CreateAnswerControl</servlet-name>
        <url-pattern>/insertTest_CreateAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertTest_EditAnswerControl</servlet-name>
        <url-pattern>/insertTest_EditAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertTest_DeleteAnswerControl</servlet-name>
        <url-pattern>/insertTest_DeleteAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertTest_EditQuestionControl</servlet-name>
        <url-pattern>/insertTest_EditQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managequestionControl</servlet-name>
        <url-pattern>/managequestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertTest_QuestionControl</servlet-name>
        <url-pattern>/insertTest_Question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewHistoryTestControl</servlet-name>
        <url-pattern>/viewHistoryTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewResultDetailControl</servlet-name>
        <url-pattern>/viewResultDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertTest_CreateQuestionControl</servlet-name>
        <url-pattern>/insertTest_CreateQuestion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>answerControl</servlet-name>
        <servlet-class>Controllers.Test.Answer.answerControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>answerCreateControl</servlet-name>
        <servlet-class>Controllers.Test.Answer.answerCreateControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>answerDeleteControl</servlet-name>
        <servlet-class>Controllers.Test.Answer.answerDeleteControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>answerEditControl</servlet-name>
        <servlet-class>Controllers.Test.Answer.answerEditControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>levelControl</servlet-name>
        <servlet-class>Controllers.Test.Level.levelControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>leveEditControl</servlet-name>
        <servlet-class>Controllers.Test.Level.leveEditControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>levelCreateContol</servlet-name>
        <servlet-class>Controllers.Test.Level.levelCreateContol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>levelDeleteControl</servlet-name>
        <servlet-class>Controllers.Test.Level.levelDeleteControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>questionColtrol</servlet-name>
        <servlet-class>Controllers.Test.Question.questionColtrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>questionCreateControl</servlet-name>
        <servlet-class>Controllers.Test.Question.questionCreateControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>questionDeleteControl</servlet-name>
        <servlet-class>Controllers.Test.Question.questionDeleteControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>questionEditControl</servlet-name>
        <servlet-class>Controllers.Test.Question.questionEditControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resultControl</servlet-name>
        <servlet-class>Controllers.Test.Result.resultControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showResultControl</servlet-name>
        <servlet-class>Controllers.Test.Result.showResultControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resultDetailControl</servlet-name>
        <servlet-class>Controllers.Test.ResultDetail.resultDetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showResultDetailControl</servlet-name>
        <servlet-class>Controllers.Test.ResultDetail.showResultDetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tagControl</servlet-name>
        <servlet-class>Controllers.Test.Tag.tagControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tagCreateControl</servlet-name>
        <servlet-class>Controllers.Test.Tag.tagCreateControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tagDeleteControl</servlet-name>
        <servlet-class>Controllers.Test.Tag.tagDeleteControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tagEditControl</servlet-name>
        <servlet-class>Controllers.Test.Tag.tagEditControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>choiceTestControl</servlet-name>
        <servlet-class>Controllers.Test.Test.choiceTestControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showAllTestControl</servlet-name>
        <servlet-class>Controllers.Test.Test.showAllTestControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>takeTestControl</servlet-name>
        <servlet-class>Controllers.Test.Test.takeTestControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testControl</servlet-name>
        <servlet-class>Controllers.Test.Test.testControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testCreateControl</servlet-name>
        <servlet-class>Controllers.Test.Test.testCreateControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testDeleteControl</servlet-name>
        <servlet-class>Controllers.Test.Test.testDeleteControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testEditControl</servlet-name>
        <servlet-class>Controllers.Test.Test.testEditControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>answerControl</servlet-name>
        <url-pattern>/answerControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>answerCreateControl</servlet-name>
        <url-pattern>/answerCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>answerDeleteControl</servlet-name>
        <url-pattern>/answerDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>answerEditControl</servlet-name>
        <url-pattern>/answerEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>levelControl</servlet-name>
        <url-pattern>/levelControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>leveEditControl</servlet-name>
        <url-pattern>/leveEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>levelCreateContol</servlet-name>
        <url-pattern>/levelCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>levelDeleteControl</servlet-name>
        <url-pattern>/levelDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>questionColtrol</servlet-name>
        <url-pattern>/questionColtrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>questionCreateControl</servlet-name>
        <url-pattern>/questionCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>questionDeleteControl</servlet-name>
        <url-pattern>/questionDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>questionEditControl</servlet-name>
        <url-pattern>/questionEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resultControl</servlet-name>
        <url-pattern>/resultControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showResultControl</servlet-name>
        <url-pattern>/showResultControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resultDetailControl</servlet-name>
        <url-pattern>/resultDetailControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showResultDetailControl</servlet-name>
        <url-pattern>/showResultDetailControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tagControl</servlet-name>
        <url-pattern>/tagControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tagCreateControl</servlet-name>
        <url-pattern>/tagCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tagDeleteControl</servlet-name>
        <url-pattern>/tagDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tagEditControl</servlet-name>
        <url-pattern>/tagEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>choiceTestControl</servlet-name>
        <url-pattern>/choiceTestControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showAllTestControl</servlet-name>
        <url-pattern>/showAllTestControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>takeTestControl</servlet-name>
        <url-pattern>/takeTestControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testControl</servlet-name>
        <url-pattern>/testControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testCreateControl</servlet-name>
        <url-pattern>/testCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testDeleteControl</servlet-name>
        <url-pattern>/testDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testEditControl</servlet-name>
        <url-pattern>/testEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatInitController</servlet-name>
        <url-pattern>/Chat/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationManageController</servlet-name>
        <url-pattern>/NotificationManage/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordRecovery</servlet-name>
        <url-pattern>/PasswordRecovery/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordRecoveryValidate</servlet-name>
        <url-pattern>/PasswordRecoveryValidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordRecoveryUpdate</servlet-name>
        <url-pattern>/PasswordRecoveryUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Archive</servlet-name>
        <url-pattern>/Archive/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeStstusControl</servlet-name>
        <url-pattern>/changeStstus</url-pattern>
    </servlet-mapping>
    
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    
    <session-config>
        <session-timeout>
            -1
        </session-timeout>
    </session-config>
</web-app>
