body{
    background-color:#eee;
}

label.radio {
  cursor: pointer;
}

label.radio input {
  position: absolute;
  top: 0; 
  left: 0;
  visibility: hidden;
  pointer-events: none;
}

label.radio span {
  padding:4px 10px 4px 10px;
  border: 1px solid black;
  display: inline-block;
  color: black;
  width: auto;
  text-align: center;
  border-radius: 3px;
  margin-top: 7px;
  text-transform: uppercase;
}

label.radio input:checked + span {
  border-color: black;
  background-color: black;
  color: #fff;
}

.ans {
  margin-left: 36px !important;
}
.btn{
    display: block;
    margin: auto;
    text-align: center;
}
.btn:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.btn:active {
  outline: 0 !important;
  box-shadow: none !important;
}

.timer{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}
.timer .time_left_txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}
.timer .timer_sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 55px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}
.time_line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #007bff;
}

