input:focus, textarea:focus {
    outline: none;
}

/* Column container */
.row {
    width: 101%;
    height: 80vh;
    align-content: flex-start;
}

/* Content columns */
/* Main column, on the left */
.main {
    border: 2px solid #ccc; 
    border-radius: 15px; 
    height: 100%; 
    padding: 1vh 1vw; 
    margin: 2vh 1vw 2vh 2vw;
    flex: 60%;
}

/* Sidebar column, on the right */
.side {
    border: 2px solid #ccc;
    border-radius: 15px; 
    min-height: 100%; 
    max-height: 100%;
    padding: 1vh 1vw; 
    margin: 2vh 0vw 2vh 2vw;
    flex: 30%;
}

.text-decor-none {
    text-decoration: none !important;
}

.uli-row {
    height: 100%;
    padding: 2vh 2vw;
}

.uli-ava-container {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.uli-ava {
    width: 7vh; 
    height: 7vh; 
    border-radius: 50%;
}

.uli-info-container {
    padding: 1vh 1vw; 
    font-size: 18px; 
    color: #dea5a5; /*#d3ab9e*/
}

.uli-date {
    display: none;
}

.uli-last-message {
    font-size: 14px;
    color: #e5b2b3; /*#8b819b*/
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.uli-last-message-time {
    font-size: 14px;
    color: #e5b2b3; /*#8b819b*/
}

#search-container {
    padding: 1vh 1vw;
}

#search-container > input{
    border: 2px solid #e4e6eb; 
    border-radius: 15px; 
    height: 5vh;
    padding: 0.5vh 1vw;
    width: 90%;
    margin: 1vh 0 1vh 0.5vw;
}

#session-container {
    min-height: 85%; 
    max-height: 85%;
    overflow-y: auto;
}

#message-list {
    display: block;
    overflow-y: auto; 
    border: 2px solid #e4e6eb; 
    border-radius: 15px; 
    height: 80%; 
    padding: 0.5vh 1vw; 
    margin: 4vh 0;
}

#chat-content {
    border: 2px solid #e4e6eb; 
    border-radius: 15px; 
    height: 5vh;
    padding: 0.5vh 1vw;
    margin-bottom: 0.5vh;
    width: 96%;
    resize: none;
}

#chat-submit {
    all: unset;
    cursor: pointer; 
    width: fit-content;
    height: fit-content;
    font-size: 1.5vw;
    float: right;
}
.user-list-item {
    /*border: 2px solid #e4e6eb;*/ 
    border-radius: 15px;
    margin: 2vh 0;
}
.user-list-item:hover {
    background-image: linear-gradient(to right, #f5f5f5 , #fff); /*#f5f5f5*/
}

.active-uli {
    background-image: linear-gradient(to right, #e5e5e5, #fff) !important; /*#e5e5e5*/
}

.unseen-uli {
    font-weight: bold;
}

.chat-bubble-right-label {
    padding-right: 1vw; 
    text-align: right; 
    color: #8b819b; /*#92adc8*/
    font-size: 14px; 
    width: auto;
}

.chat-bubble-right-container {
    text-align: right; 
    padding-right: 1vw;
}

.chat-bubble-right {
    display: inline-block; 
    border: 2px solid #d696bb;
    border-radius: 20px;
    background-color: #d696bb;
    color: #fff;
    margin: 1vh 0;
    padding: 0.5vh 1vw; 
    max-width: 80%; 
    width: auto; 
    text-align: left;
}

.chat-bubble-right-top {
    display: inline-block; 
    border: 2px solid #d696bb;
    border-radius: 20px 20px 5px 20px; 
    background-color: #d696bb;
    color: #fff;
    margin-top: 1vh;
    margin-bottom: 0.15vh;
    padding: 0.5vh 1vw; 
    max-width: 80%; 
    width: auto; 
    text-align: left;
}

.chat-bubble-right-mid {
    display: inline-block; 
    border: 2px solid #d696bb;
    border-radius: 20px 5px 5px 20px; 
    background-color: #d696bb;
    color: #fff;
    margin: 0.15vh 0;
    padding: 0.5vh 1vw; 
    max-width: 80%; 
    width: auto; 
    text-align: left;
}

.chat-bubble-right-bottom {
    display: inline-block; 
    border: 2px solid #d696bb;
    border-radius: 20px 5px 20px 20px; 
    background-color: #d696bb;
    color: #fff;
    margin-top: 0.15vh;
    margin-bottom: 1vh;
    padding: 0.5vh 1vw; 
    max-width: 80%; 
    width: auto; 
    text-align: left;
}

.chat-bubble-left-label {
    padding-left: 1vw; 
    text-align: left; 
    color: #8b819b; 
    font-size: 14px; 
    width: auto;
}

.chat-bubble-left-container {
    text-align: left; 
    padding-left: 1vw;
}

.chat-bubble-left {
    display: inline-block; 
    border: 2px solid #e4e6eb; 
    border-radius: 20px; 
    background-color: #e4e6eb;
    margin: 1vh 0;
    padding: 0.5vh 1vw; 
    max-width: 80%; 
    width: auto;
}

.chat-bubble-left-top {
    display: inline-block; 
    border: 2px solid #e4e6eb; 
    border-radius: 20px 20px 20px 5px; 
    background-color: #e4e6eb;
    margin-top: 1vh;
    margin-bottom: 0.15vh;
    padding: 0.5vh 1vw; 
    max-width: 80%; 
    width: auto;
}

.chat-bubble-left-mid {
    display: inline-block; 
    border: 2px solid #e4e6eb; 
    border-radius: 5px 20px 20px 5px; 
    background-color: #e4e6eb; 
    margin: 0.15vh 0;
    padding: 0.5vh 1vw; 
    max-width: 80%; 
    width: auto;
}

.chat-bubble-left-bottom {
    display: inline-block; 
    border: 2px solid #e4e6eb; 
    border-radius: 5px 20px 20px 20px; 
    background-color: #e4e6eb; 
    margin-top: 0.15vh;
    margin-bottom: 1vh;
    padding: 0.5vh 1vw; 
    max-width: 80%; 
    width: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
textarea::-webkit-scrollbar {
    display: none;
}

.loader-container {
    display: flex;
    width: 100%;
    align-content: center;
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #555;
    border-bottom: 5px solid #555;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}